.custom-bg{
   background: linear-gradient(75deg, #3EB0F7, #2EA3ED);
}
.Hero-section{
    background-image: url('./assets/frame.jpg');
    background-size: cover;
 
}
.purpose-bg{
    background-image: url('./assets/dots.png');
    background-size: contain;
}
.join-bg{
    background-image: url('./assets/joinframe.jpg');
    background-size: cover;
}
.custom-blue{
    background: #1D689D36;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }